body {
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(53, 54, 58);
}

h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

#principal {
  display: block;
  border-radius: 10px;
  padding: 30px;
  width: 700px;
  height: 600px;
  background-color: white;
  margin: auto;
}

#funcionamento {
  font-size: 20px;
  font-style: italic;
}

#texto-tarefa {
  width: 200px;
  height: 24px;
  border: 2px solid black;
}

#criar-tarefa {
  padding: auto;
  width: 120px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

#apaga-tudo {
  padding: auto;
  width: 120px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  background-color: rgb(189 , 56 , 56);
  border-radius: 5px;
  color: white;
}

#remover-finalizados {
  padding: auto;
  width: 170px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  background-color: rgb(189 , 56 , 56);
  border-radius: 5px;
  color: white;
}

.completed {
  text-decoration: line-through solid black;
}
